/* index.html main */

.nav {
    float: right
}

a {
    color: darkgrey;
    margin-bottom: 20px;
}

.container-content {
    background-color: black;
    opacity: 75%;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

body {
    background-color: black;
    height: 1000px;
    overflow: auto;
    padding: 50px;
    border-right: 10px solid rgb(100, 4, 4);
    border-left: 10px solid rgb(100, 4, 4);
}



#pic {
    max-width: 400px;
    float: left;
}

p {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.page-header {
    color: rgb(94, 88, 88);
}

h1 {
    color: darkgray;
    text-align: center;
}

h2 {
    font-weight: 600;
    margin-left: 20px;
    color: darkgray;
    text-align: center;
}

p {
    color: solid darkgray;
}

@media (max-width: 640px) {
    body{
        padding: 0px;
        border-right: 5px solid rgb(100, 4, 4);
    border-left: 5px solid rgb(100, 4, 4);
    }
    .navbar {
        padding: 0;
    }
    #pic {
        width: auto;
        height: auto;
        margin: 20px;
    }
    .navbar-brand {
        flex: 100%;
        text-align: center;
    }
    .nav {
        margin: 0 auto;
    }
    h1 {
        width: 100%;
    }
}